* {
  background-color: gray;
}



#mainp {
  background-color: darkgray;
  color: black;
  margin-right: 100px;
  margin-left: 200px;
  border: 3px double red;
  text-decoration: underline darkblue;
  width: 1400px;
}

#bigitems {
  background-color: lightgray;
  color: lightblue;
  width: 280px;
  margin-left: 25px;
}

h3 {
  background-color: lightgray;
  color: blue;
}

#addontext {
  background-color: lightgray;
  color: gray;
}

#subp1 {
  background-color: gray;
  color: white;
}
